$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #fff;
$black: #000;
$grey: #808080;
$backgroundcolor: #FAFAFA;
$searchbarboxshadow: #b4b4b4;
$searchbarbackgroundcolor: #e7e7e7;