.loader {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: #191a1a;
    text-align: center;
    position : fixed;
    z-index: 9999;
    top : 0px;
    left : 0px;
    animation: 3000ms linear 0ms 1 normal forwards running loader;
    height : 100%;
    width : 100%;
}

.loader_h1{
    margin: 0;
    padding: 0;
    @include roboto;
    font-weight: 100;
    font-size: 1.1em;
    color: #a3e1f0;
    animation: disparait 500ms ease-in-out forwards 3500ms;
}

.loader_span{
    position: relative;
    top: 0.63em;  
    display: inline-block;
    text-transform: uppercase;  
    opacity: 0;
    transform: rotateX(-90deg);
} 

.let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
  }
  
.let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
  }
  
.let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
  }
  
.let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;
  
  }
  
.let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
  }
  
.let6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.7s;
  }
  
.let7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.8s;
  }

.let8{
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.9s;
}