/* HEADER */

.header {
    height: 4rem;
    background: $white;
    text-align: center;
    width: 100%;
    position: relative;
    &__logo{
        width: 158px;
        padding-top: 1.25rem;
    }
    &__title{
        @include shrikhand;
        width: 200px;
        padding: 10px 0;
        margin: 0 auto;
        font-size: 1.8rem;
        font-weight: 400;
    }
    &__backindex{
        position: absolute;
        top: 23px;
        left: 2%;
        text-decoration: none;
        color: $black;
        &:visited{
            color: $black;
        }
        &--empty{
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.3rem;
        }
    }
}